@font-face{
	font-family: 'Abril';
	src: url(font/Abril_Fatface/AbrilFatface-Regular.ttf);
}
@font-face{
	font-family: 'Baloo';
	src: url(font/Baloo_Chettan_2/BalooChettan2-Medium.ttf);
}
@font-face{
	font-family: 'Raleway';
	src: url(font/Raleway/Raleway-LightItalic.ttf);
}